@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #020024;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,64,163,1) 0%, rgba(29,190,223,1) 100%);
}
#root{
    padding: 0 !important;
}
